body
{
	font-family: Calibri, Helvetica, sans-serif;  
  background-color: #EADDCA;  
}

.center
{
	padding: 50px;  
  background-color: #EADDCA;  
}

.center h1
{
	text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}

.form
{
	padding-bottom: 15px;
	margin: 0 20px;
}

.textfield
{
	width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1; 
}

.textarea
{
	width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1; 
}
.btn
{
	background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: help;  
  width: 100%;  
  opacity: 0.9;  
}

.jaggu
{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}